<table class="table table-hover">
    <thead>
    <tr>
        <th>Badge <img src="sort.png" alt=""></th>
        <th>Total Goals <img src="sort.png" alt=""></th>
        <th>Completed <img src="sort.png" alt=""></th>
        <th>In Progress <img src="sort.png" alt=""></th>
        <th>Not Started <img src="sort.png" alt=""></th>
        <th>Completion Rate <img src="sort.png" alt=""></th>
    </tr>
    </thead>
    <tbody>
        @for (badge of badges; track $index) {
            <tr>
                <td class="d-flex align-items-center gap-3"><img src="1.png">{{ badge.title }}</td>
                <td>{{ badge.totalGoals }}</td>
                <td>{{ badge.completed }}</td>
                <td>{{ badge.inProgress }}</td>
                <td>{{ badge.notStarted }}</td>
                <td>
                    <div class="d-flex align-items-center gap-3">
                        <div class="progress w-100">
                            <div class="progress-bar" role="progressbar" [style.width.%]="badge.completionRate"></div>
                        </div>
                        <span class="progress-value">{{ badge.completionRate }}%</span>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
