<header class="d-flex justify-content-between align-items-center p-3 shadow-sm bg-white rounded mb-4">
    <div class="m-0 title">Dashboard</div>

    <div class="d-flex align-items-center gap-2">
        <div class="input-group search-box">
          <span class="input-group-text">
            🔍
          </span>
            <input type="text" class="form-control" placeholder="Search" />
        </div>

        <select class="form-select w-auto">
            <option>group</option>
        </select>

        <div class="btn btn-outline-primary d-flex align-items-center gap-2 flex-nowrap">
            <img src="2.png" alt="">
            <span class="text-nowrap">10 Badges</span>
        </div>
    </div>
</header>
