.cards {
  gap: 20px;
}

.card {
  flex: 40%;
  padding: 1rem;
  border-radius: 8px;
  border-color: #EAEDF2;

  .value {
    font-size: 32px;
    font-weight: 600;
  }

  p {
    font-size: 16px;
    font-weight: 500;
  }
}